body{
    margin: 0 auto;
    font-family: Fira Sans, serif;
    font-weight: 400;
    background-color: #191919;
    color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}
header{
    background-color: #F25c27;
    text-align: center;
    border: 3px outset #ff8c5f;
}
.headline{
    font-size: 3em;
    color: #fff;
    letter-spacing: 1.87px;
    background-color: #F25c27;
    text-shadow: 1.78px 2.73px 3.49px #191919;
    animation-name: xy;
    animation-duration: 7.7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes xy{
    33% {margin-right: 0.8%;}
    100% {margin-left: 1%; color: #191919;}
}
.top-container {
  width: 500px;
  margin: 30px auto;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
}
.btn-dark {
  background: #191919;
  color: #fff;
  border: 2px solid #fff;
}
.btn-light {
  background: #f3f3f3;
  color: #333;
  border: 3.7px outset #fff;
}
.select {
  height: 40px;
  background: #191919;
  color: #fff;
  padding: 3px;
  width: 100%;
  border: 2px solid #fff;
  margin-bottom: 10px;
}
.bottom-container {
  margin: auto;
  max-width: 912px;
  padding: 12px;
}
#photos {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 0.25%;
}
#photos img {
  width: 100%;
  border: 3.77px outset #fff;
}
#canvas {
  display: none;
}
footer{
    font-size: 2em;
    background-color: #F25c27;
    color: #fff;
    text-shadow: 2.78px 2.23px 3.49px #191919;
    text-align: center;
    height: 35vh;
}